@media (max-width: 1440px) {
    .container {
        width: 1300px;
    }
}

@media(max-width: 767px){
   .header-right{
    display: none !important;
    } 
    .header-btn-display{
        display: block !important;
    }
    .header-main .nav-links.open {
        padding-block: 50px;
        padding-left: 50px;
    }
    .header-main .nav-links {
        display: flex
    ;
        list-style: none;
        /* width: 88vw; */
        /* padding: 0 0.7vw; */
        justify-content: flex-start;
        align-items: flex-start;
        text-transform: uppercase;
    }
    .header-main .nav-links.open .fade{
padding-bottom: 30px;
font-size: 28px;
    }
}
