/* index html css start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

p,
a,
button,
div,
li,
ul {
  font-family: "Rubik";
  margin: 0px;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
span {
  font-family: "Playfair Display";
  margin: 0px;
}

.header-main {
  background-image: url(assets/images/hero-section.png);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 450px; */
}
.header-main nav {
  /* height: 6rem;
    width: 100vw; */

  /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); */
  display: flex;
  /* position: fixed; */
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  /* padding-inline: 20px; */
  padding-block: 20px;
}
.header-btn-display {
  display: none !important;
}
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
/*Styling logo*/

.header-main .logo img {
  /* height: 100%; */
  width: 230px;
}
.header-main .header-right {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

/*Styling Links*/
.header-main .nav-links {
  display: flex;
  list-style: none;
  /* width: 88vw; */
  /* padding: 0 0.7vw; */
  justify-content: space-between;
  align-items: center;
  text-transform: none;
  margin-bottom: 0px !important;
}
.header-main .nav-links li a {
  text-decoration: none;
  margin-left: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  transition: all 0.3s ease;
}
.header-main .nav-links li a:hover {
  color: white;
}
.nav-links a.active {
  border-bottom: 2px solid #ff7757;
  padding-top: 0px;
  font-weight: 500 !important;
}
.header-main .nav-links li {
  position: relative;
}
/* .header-main .nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ff7757;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
  top: 25px;
  left: 22px;
}
.header-main .nav-links li a:hover::before {
  width: 65%;
} */
.header-dclass {
  display: none;
}

/*Styling Buttons*/
.heder-ryt-btn {
  /* font-family: Rubik; */
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  background-color: #ff7757 !important;
  padding: 20px 30px !important;
  border-radius: 12px !important;
  border: none;
}

.header-dclass-deskstop {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  background-color: transparent;
  padding: 20px 30px;
  border-radius: 12px;
  border: none;

  padding-block: 20px;
  padding-inline: 32px;
  align-items: center;
  opacity: 100%;
}
/* .heder-ryt-btn:hover {
  background-color: #ff7757;
  padding: 20px 30px;
  border-radius: 12px;
} */
.header-main .join-button {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 12px;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.header-main .join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.header-main .hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.header-main .hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  .header-main nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding-block: 10px;
    padding-inline: 20px;
  }
  .containerr {
    margin-inline: 0px;
  }
  .header-main .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .header-main .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .header-main .nav-links.open {
    clip-path: circle(1000px at 50% 50%);
    -webkit-clip-path: circle(1000px at 50% 50%);
    pointer-events: all;
    padding-left: 250px;
    padding-block: 50px;
  }
  .header-main .nav-links li {
    opacity: 0;
  }
  .header-main .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .header-main .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .header-main .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .header-main .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .header-main .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .header-main .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .header-main .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  .header-main li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.header-main .toggle .line1 {
  transform: rotate(-85deg) translate(-5px, 6px);
}
.header-main .toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.header-main .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.journey {
  padding-bottom: 100px;
}
.journey h1 {
  color: #f2f5f7;
  font-size: 72px;
  padding-top: 90px;
  font-weight: 400;
}
.journey p {
  font-size: 24px;
  color: #f2f5f7;
  font-weight: 400;
  padding-top: 16px;
}
.header-main li a {
  color: #fff !important;
}
.header-right li::marker {
  color: transparent !important;
}
.header-main {
  padding-bottom: 320px;
}

.second-header h3 {
  font-size: 64px;
}

/* ////////////booking sysytem css start///// */

.header-main .booking-form {
  display: flex;
  justify-content: flex-start;
  padding-top: 165px;
  position: absolute;
  left: 0px;
}

.header-main .form-container {
  display: flex;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 10px 10px 0px;
  height: 216px;
  padding-left: 55px;
}
.header-main .form-group {
  display: flex;
  flex-direction: column;
  padding: 18px;

  width: 250px;
  height: 216px;
  /* align-items: center; */
  justify-content: center;
}

.header-main .form-group:last-of-type {
  border-right: none;
}

.header-main label {
  text-transform: uppercase;
  color: #767e86;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}
.header-main input,
select {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  font-size: 18px;
  outline: none;
  background: transparent;
  padding-left: 0px;
}

.header-main .book-now-btn {
  background-color: #ff7c5b;
  color: white;
  font-size: 36px;
  /* font-weight: bold; */
  border: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  font-weight: 400;
}
.header-main .book-now-btn img {
  vertical-align: middle;
  padding-left: 12px;
}

.header-main .book-now-btn span {
  text-align: left;

  margin-right: 10px;
}

.header-main .book-now-btn:hover {
  background-color: #e76849;
}

@media screen and (max-width: 768px) {
  .header-main .form-container {
    flex-direction: column;
    border-radius: 10px;
  }

  .header-main .form-group {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .header-main .book-now-btn {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}
.popular-destination {
  padding-top: 80px;
}
.popular-destination h3 {
  position: relative;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: #172432;
  padding-top: 75px;
}

.popular-destination h3::before {
  content: "";
  display: block;
  height: 3px;
  width: 28%;
  background-color: #ff7757;
  position: absolute;
  /* transition: all ease-in-out 250ms; */
  margin: 0 0 0 10%;
  top: 171px;
  left: -130px;
}
.popular-destination p {
  margin-block: 40px 70px;
  font-size: 22px;
  font-weight: 400;
  color: #767e86;
  padding-top: 32px;
  /* line-height: 5px; */
}

/* ////////booking system css end/// */

.berlin {
  background-image: url(assets/images/monument-berlin.png);
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}
.millenium {
  background-image: url(assets/images/milleium-bridge.png);
}
.rialto {
  background-image: url(assets/images/railto.png);
}
.desti-card-text {
  /* padding-left: 24px; */
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
  /* padding-bottom: 30px; */
}
.desti-location-text {
  display: flex;
  align-items: start;
}
.desti-location-text p {
  margin: 0 !important;
  color: #fff !important;
  padding-left: 12px;
  font-size: 24px;
  padding-top: 16px !important;
}

.desti-card-text h6 {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  top: 27px;
  /* padding-top: 8px; */
  /* margin-bottom: -51px; */
  /* margin-left: -40px; */
}

.desti-card-text img {
  width: 24px;
  padding-top: 20px;
}
.berlin a {
  text-decoration: none;
}
/* ///// historical places css  ///////////*/
.special-offer {
  padding-top: 45px;
}

.Special-offer .offer {
  text-align: end;
  padding-block: 70px 100px;
}
.offer h3 {
  position: relative;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  /* padding-block: 15px 100px; */
  color: #172432;
}
.offer h3::before {
  content: "";
  display: block;
  height: 3px;
  width: 18%;
  background-color: #ff7757;
  position: absolute;
  /* transition: all ease-in-out 250ms; */
  margin: 0 0 0 10%;
  top: 88px;
  right: 0px;
}
.offer p {
  padding-top: 55px;
  font-size: 24px;
  color: #767e86;
}
.portgual {
  background-color: #fff8f1;
  border-radius: 26px;
  padding-bottom: 40px;
}
.portgual img {
  width: 100%;
}
.portguals img {
  width: 100%;
}
.lisboun-portugal img {
  width: 150px;
  /* padding-block: 23px 24px; */
  padding-top: 8px;
  padding-left: 0px;
}
.lisboun-portugal p {
  font-size: 18px;
  margin-bottom: 0px !important;
  font-weight: 400;
  margin-top: 24px;
  font-weight: 400;
}
.price p {
  color: #767e86;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  align-items: center;
}
.price p span {
  color: #ff7757;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  padding-left: 5px;
}

.mains-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
}
.lisboun-portugal h3 {
  font-family: Mulish;
  font-weight: 300;
  font-size: 28px;
  line-height: 100%;
  color: #767e86;
  margin-top: 24px;
}

.price {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.price img {
  height: 20px;
  width: 60%;
}
.details {
  background-color: #ff7654;
  color: white;
  border-radius: 12px;
  font-size: 20px;
  border: none;
  padding-inline: 40px;
  padding-block: 19px;
  font-weight: 300;
  margin-top: 24px;
}
.lisboun-portugal {
  padding-inline: 20px;
}
/* //////// historical places css end  ////////////*/

/* //////header nav css w3/// */
.topnav {
  background-color: transparent;
  position: relative;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.header-right {
  display: flex;
  gap: 10px;
}

.topnav .icon {
  display: none;
}
/* Small screens */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .topnav .icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  .header-right {
    display: none;
  }
}

/* //////header nav css w3 end//// */

/* ////// our blog start css */
.our-blog {
  padding-left: 0px;
  padding-top: 250px;
  /* font-weight: 400; */
  /* font-size: 50px; */
  position: relative;
  padding-bottom: 100px;
}

.our-blog h3 {
  font-weight: 400;
  font-size: 64px;
  position: relative;
}
.our-blog p {
  padding-block: 32px 100px;
  color: #767e86;
  font-size: 24px;
  font-weight: 400;
}
.our-blog h3::before {
  content: "";
  display: block;
  height: 3px;
  width: 12%;
  background-color: #ff7757;
  position: absolute;
  /* transition: all ease-in-out 250ms; */
  margin: 0 0 0 10%;
  top: 75px;
  left: -130px;
}
.our-blog h6 {
  padding-block: 35px;
  font-weight: 400;
  font-size: 17px;
}
.italy-travel img {
  width: 100%;
}
.explain-travel h4 {
  position: relative;
  /* padding-block: 35px 60px; */
  color: #172432;
  font-size: 54px;
  font-weight: 400;
  margin-top: 13px;
  padding-left: 32px;
}
.explain-travel p {
  font-size: 23px;
  line-height: 52px;
  color: #172432;
  padding-block: 15px 24px;
  /* padding-top: 24px; */
  font-weight: 400;
  padding-left: 32px;
  word-spacing: -2px;
  letter-spacing: 0px;
}
.explain-travel a {
  color: #ff7757;
  font-size: 24px;
  line-height: 40px;
  padding-left: 32px;
  font-weight: 400;
}
.explain-travel a img {
  width: 6%;
  margin-left: 10px;
}
/* ////// our blog end css */

/*//////// trip planners css start///////// */
.trip-planners h3::before {
  content: "";
  display: block;
  height: 3px;
  width: 231px;
  background-color: #ff7757;
  position: relative;
  /* transition: all ease-in-out 250ms; */
  margin: 0 0 0 10%;
  top: 95px;
  left: -54px;
}
.trip-planners {
  padding-bottom: 70px;
  padding-top: 60px;
}
.trip-planners p {
  font-size: 18px;
  line-height: 23px;
  padding-top: 32px;
  color: #767e86;
  padding-bottom: 32px;
  letter-spacing: 0px;
  font-weight: 400;
}
.trip-plan {
  font-size: 46px;
  padding-top: 153px;
}
.trip-plan h3 {
  font-size: 44px;
}
.trip-card h2 {
  font-size: 20px;
}

.trip-plan {
  font-size: 46px;
  padding-top: 67px;
  padding-bottom: 44px;
}
.trip-plan h3 {
  height: 85px;
  font-size: 64px;
  font-weight: 400;
}
.trip-card h2 {
  font-size: 20px;
}
.trip-card {
  padding-top: 50px;
  transition: margin-top 0.1s ease;
  position: relative;
  z-index: 1;
  height: 500px;
}
.trip-card:hover {
  transform: translateY(-50px);

  z-index: 10;
}
.trip-card:hover .guided-tour {
  display: block;
}
.guided-tour .tours {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.guided-tour {
  padding-inline: 11px;
  display: none;
}
.trip-card:hover .guided-tour {
  display: block;
}
.guided-tour .tours {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.guided-tour {
  padding-inline: 11px;
  display: none;
}
.guided-tour h2 {
  margin-block: 0px !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #172432;
}
.tours img {
  width: 80px !important;
  height: 20px;
}
.tours p {
  padding-top: 0px;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  display: none;
}
.slider-main {
  width: 1200px;
  position: relative;
  overflow: visible;
}
.tripsbtn {
  position: relative;
}
.tripsbtn button {
  color: #fff;
  border: none;
  border-radius: 12px;
  background-color: #ff7757;
  height: 61px;
  width: 186px;
  padding: 5px;
  font-size: 18px;
  margin-left: 17px;
  margin-top: 28px;
  font-weight: 400;
  padding-inline: 20px;
  padding-block: 20px;
}
.tripsbtn button:hover {
  color: black;
  transform: translate(00.3s);
  background-color: bisque;
}
.trip-btn-img1 {
  width: 43px;
  height: 43px;
  position: absolute;
  z-index: -1;
  top: 11px;
  left: 3px;
}
.trip-btn-img2 {
  width: 43px;
  height: 43px;
  position: absolute;
  z-index: -1;
  top: 64px;
  left: 178px;
}

/*//////// trip planners css end///////// */

/*///// Destination gallery-section  css start  //////*/

.gallery h3 {
  font-size: 55px;
  line-height: 100px;
  position: relative;
}
.gallery h3::before {
  content: "";
  display: block;
  height: 3px;
  width: 257px;
  background-color: #ff7757;
  position: absolute;
  /* transition: all ease-in-out 250ms; */
  margin: 0 0 0 10%;
  top: 95px;
  left: -130px;
}

.gallery-header h2 {
  font-size: 64px;
  font-weight: 400;
  padding-top: 142px;
}

.gallery-header p {
  color: #666;
  margin-top: 55px;
  padding-block: 10px 50px;

  font-size: 24px;
}
.gallery-header:before {
  content: "";
  display: block;
  height: 3px;
  width: 283px;
  background-color: #ff7757;
  position: relative;
  /* transition: all ease-in-out 250ms; */
  margin: 0 0 0 10%;
  top: 241px;
  left: -123px;
}

#destinationGallery .item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

#destinationGallery .item:hover img {
  transform: translateY(-35px);
}
#destinationGallery .item {
  overflow: visible; /* allow hover movement to show */
  position: relative;
}

.gallery-section .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  height: 500px;
  padding-top: 50px;
}

.custom-nav {
  text-align: right;
  margin-top: -100px;
  margin-bottom: 20px;
}

.custom-nav button {
  background-color: #f9633b;
  border: none;
  color: white;
  padding: 10px 16px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
.gallery-section .owl-dots {
  display: none;
}
/*///// Destination gallery-section css end ///// */
.travel-experi .swiper {
  width: 100%;
  padding: 87px 0;
  /* margin-left: 120px; */
  /* overflow: inherit !important; */
  margin-left: 0px;
  padding-bottom: 180px;
}
.travel-experi {
  padding-top: 140px;
  margin-left: 0px;
  padding-bottom: 100px;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ff7757;
  width: 26%;
}
.travel-experi p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #767e86;
  padding-bottom: 50px;
}
.travel-experi .swiper-slide {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  max-width: 500px;
}

.testimonial-card img {
  width: 50px;
  height: 30px;
}

.testimonial-card .stars {
  color: gold;
}
.stars img {
  width: 124px;
  height: 20px;
}

.travel-experi .swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  background-color: #ff6f4f; /* Orange background like screenshot */
  border-radius: 8px; /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px; /* Arrow size */
}

.travel-experi .swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.travel-experi .swiper-button-prev::after {
  transform: rotate(-135deg);
}
.travel-experi .swiper-button-prev {
  position: absolute;
  left: 80%;
  top: 620px;
  height: 60px;
  width: 66px;
  border-radius: 12px;
  background-color: #000;
}

.travel-experi .swiper-button-next {
  position: absolute;
  right: 180px;
  top: 620px;
  height: 60px;
  width: 66px;
  margin-right: -124px;
  border-radius: 12px;
}
.travel-experi h2 {
  color: #172432;

  font-size: 64px;
  line-height: 100%;
  font-weight: 400;
}
.travel-experi .swiper-slide {
  padding: 60px 30px;
  background-color: #f5f6f7 !important;
  height: 400px;
  margin-right: 32px;
}
.travel-experi .swiper-slide p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0%;
  padding-bottom: 14px;
}
.testi-author {
  position: absolute;
  width: 80px !important;
  height: 80px !important;
  top: -40px;
  left: 40px;
}
.testimonial-card h6 {
  padding-block: 10px 4px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  padding-top: 20px;
}
.travel-experi .swiper-mySwiper {
  position: relative;
}

.our-news {
  padding-inline: 110px;
}
.news-letter {
  width: 1263px;
  background-color: #ffffff;
  /* padding-inline: 60px; */
  height: 220px;
  padding-top: 60px;
  box-shadow: 0px 0px 4px 0px #0000004d;
  border-radius: 26px;
  margin-top: 60px;
  padding-left: 80px;
}
.news-letter h1 {
  color: #767e86;
}
.news-mail p {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #767e86;
  padding-bottom: 12px;
  margin-inline: 65px;
}
.news-mail input {
  border: none;
  border-radius: 12px;
  width: 326px;
  padding-block: 24px;
  background-color: #ffe8d4;
  outline: none;
  font-size: 20px;
  /* padding-inline: 12px; */
  margin-inline: 35px;
}
.news-mail input::placeholder {
  color: #ff7757;
  background-color: #ffe8d4;
  padding-block: 24px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}
.news-letter h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #767e86;
  /* margin-top: 10px;
  margin-left: 80px; */
  /* padding-left: 61px; */
}
.news-btn {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex-direction: column;
  height: 100px;
  margin-top: 7px;
}
.news-btn button {
  background-color: #ff7757;
  color: #ffffff;
  padding: 24px 32px;
  border: none;
  border-radius: 12px;
  width: 163px;
  height: 73px;
  margin-top: 10px;
}
.news-btn button:hover {
  color: black;
  transform: translate(00.3s);
  background-color: bisque;
}

.footer {
  background-color: #172432;
  position: relative;
  z-index: -1;
  margin-top: -100px;
}
.footer a {
  color: #ffffff;

  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
}
.footer-logo img {
  margin-bottom: 16px;
  height: 40px;
  width: 203px;
}
.footer-inner {
  padding-block: 200px 100px;
}
.footer-logo p {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.menu {
  text-align: start;
}
.menu p {
  color: #ffffff;
  font-family: Rubik;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.menu li {
  list-style-type: none;
  padding-top: 14px;
}
.icons-main {
  display: flex;
  justify-content: space-between;
}
.social-icon img {
  width: 32px;
  height: 32px;
}

/* //////////////////////////////////////index html css end/////////////////////////////////////// */

/*/////////////// travel html css start////////////////// */

.travel-banner {
  background-image: url(assets/images/travel-banner.png);
  height: 1500px;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 1%;
  text-transform: capitalize;
  color: white;
}
.center a {
  color: white;
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
}
.travel-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right img {
  height: 20px;
  margin-right: 20px;
}
.right h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  color: #ffffff;
}
.hik-guide {
  /* text-align: center; */
  padding-top: 190px;
  position: relative;
  /* padding-right: 190px; */
}
.hik-guide p {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 6px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #fbd784;
}
.hik-guide h1 {
  font-family: Chronicle Display;
  font-weight: 600;
  font-size: 66px;
  line-height: 70px;
  color: #ffffff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}
.hik-guide h6 {
  position: absolute;
  left: 26%;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
}
.hik-guide h6 img {
  width: 16px;
  height: 24px;
  margin-left: 16px;
}
.left img {
  width: 140px;
}
.center a {
  position: relative;
}

.center a:hover::before {
  content: "";
  display: block;
  height: 3px;
  width: 80%;
  background-color: #ff7757;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
  top: 25px;
  left: -7px;
}
/*/////////////// travel html css  end////////////////// */

/* breakio css start */
.breakio-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brekio-banner {
  padding-top: 20px;
}
.breakio-right h1 span {
  /* font-size: 37px; */
  color: #c026d3;
}
.left a {
  margin-right: 30px;
}
.breakio-right h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}
.breakio-left button {
  border-radius: 18px;
  border-width: 2px;
  padding: 12px 28px;
  background-color: #c026d3;
  border: none;
  color: #ffffff;
}
.breakio-left a {
  margin-right: 30px;
  color: #000;
  font-weight: 500;
}
.break h1 {
  text-align: center;
  padding-top: 57px;
  font-weight: 800;
  padding-left: 44px;
  font-size: 63px;
  color: #c026d3;
}
.break p {
  padding-top: 20px;
  text-align: center;
  font-size: 17px;
  color: #475569;

  margin-right: -28px;
}
.start-now {
  text-align: center;
  padding-top: 20px;
}

.start-now input {
  margin-right: 20px;
  width: 401px;
  height: 55px;
  padding-top: 0px;
  padding-left: 13px;

  border-radius: 16px;
  border-width: 1px;
  margin-right: 16px;
  font-size: 20px;
  color: #475569;
  margin-top: 19px;
}
.start-now button {
  height: 52px;
  width: 9%;
  border-radius: 20px;
  background-color: #c026d3;
  border: none;
  color: #ffffff;
}
.start-now img {
  width: 100%;
  padding-block: 70px;
}
.everyday h2 {
  text-align: center;
  padding-top: 70px;
  color: #c026d3;
  font-size: 50px;
  font-weight: 700;
}
.everyday p {
  text-align: center;
  padding-block: 24px;
  font-size: 20px;
  font-weight: 400;
  color: Blue Gray;
}
.everyday button {
  display: block;
  margin: auto;
  background-color: #c026d3;
  color: #ffffff;
  width: 156px;
  height: 45px;
  border-radius: 14px;
  border: none;
  font-size: 21px;
}
.everyday img {
  width: 100%;
  padding-block: 70px;
}
.breakio-stories h3 {
  text-align: center;
  font-size: 61px;
  font-weight: 700;
  padding-top: 44px;
  background: linear-gradient(90deg, #c026d3 0%, #701a75 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.breakio-stories p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: grey;
}
.users-card {
  margin-inline: 90px;
  padding-top: 70px;
}
.stories-card {
  box-shadow: 0px 4px 6px -1px #0000001a !important;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s ease;
}
.stories-card:hover h5 {
  display: inline-block;
}
.stories-card:hover .stories-card img {
  transform: scale(1.1);
}
.stories-card img {
  border-radius: 12px 12px 0px 0px;
}
.story-card-text {
  display: flex;
  align-items: center;
  padding: 16px;
  /* border-radius: 0px 0px 12px 12px !important;  */
}
.story-card-text img {
  width: 48px !important;
  height: 48px;
}
.story-author-detail {
  margin-left: 8px;
}
.stories-card h5 {
  color: #1e40af;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #dbeafe;
  display: none;
  position: absolute;
  top: 16px;
  left: 16px;
}
.breakio-stories .owl-carousel .owl-stage-outer {
  padding-bottom: 30px;
}
.story-author-detail h6 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #0f172a;
}
.story-author-detail p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #475569;
}
.users-say {
  background-image: url(assets/images/breakio/Section.png);
  padding-block: 80px;
  background-size: cover;
  background-repeat: no-repeat;
}

.users-say #testimonial-carousel {
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.users-say .owl-carousel .owl-stage-outer {
  width: 650px !important;
}

.users-say .testimonial-item {
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 650px;
  height: 300px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
}
.other-say-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.users-say .testimonial-item h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.users-say .testimonial-item p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.users-say .user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 20px;
}

.users-say .testimonial-item h4 {
  margin: 10px 0 2px;
}

.users-say .testimonial-item span {
  color: #999;
  font-size: 0.9rem;
}

.users-say .owl-carousel .owl-item img {
  display: block;
  width: 19%;
  height: 100px;
  margin-left: 227px;
}
.testimonial-item h2 {
  font-family: Roboto;
  font-weight: 800;
  font-size: 56px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-align: center;
  color: #c026d3;
}
.users-say button.owl-prev {
  position: absolute;
  left: -36px;
  top: 50%;
  background-color: #fff !important;
  padding: 16px 18px !important;
  font-size: 30px !important;
}
.users-say button.owl-next {
  position: absolute;
  right: -80px;
  top: 50%;
  background-color: #fff !important;
  padding: 14px 18px !important;
  font-size: 30px !important;
}
.users-say {
  padding-bottom: 50px;
  text-align: center;
}

/* ////////////////coddepen practiceslider css start///// */
.Special-offer {
  padding-top: 850px;
}
.ppractice-cardd {
  position: relative;
}

.ppractice-cardd .move-icon {
  cursor: pointer;
}
.ppractice-cardd .move-icon:hover {
  background-color: #000;
}
.ppractice-cardd .move-icon {
  z-index: 2;
  top: 10%;
  font-size: 1.2rem;
  position: absolute;
  color: #fff;
  font-weight: 700;
  border-radius: 12px;
  font-size: 20px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  background: #ff7757;
}

.ppractice-cardd .move-prev {
  right: 2%;
  width: 66px;
  margin-top: 236px;
  height: 60px;
}
.ppractice-cardd .move-back {
  right: 10%;
  width: 66px;
  margin-top: 236px;
  height: 60px;
  background-color: #000;
}
.ppractice-cardd .card-group {
  left: 56px !important;
}
.ppractice-cardd .card-group {
  display: flex;
  position: absolute;
  left: 0;
  top: 110%;
  z-index: 111;
  transition: transform 0.5s ease;
  will-change: transform;
}
section.ppractice-cardd .card {
  width: 412px;
  height: 650px !important;
  border-radius: 30px;
  padding: 40px 24px;
  margin: auto 1em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 100;
  width: calc((80vw / 2) - 24px) !important;
}

.ppractice-cardd button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5em;
  width: 50%;
  margin: 2em 1em;
  float: right;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  outline: none;
}

.ppractice-cardd .card1 {
  background-image: url(assets/images/monument-berlin.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.ppractice-cardd .card2 {
  background-image: url(assets/images/milleium-bridge.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.ppractice-cardd .card3 {
  background-image: url(assets/images/railto.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.ppractice-cardd .card4 {
  background-image: url(assets/images/milleium-bridge.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.move-icon img {
  height: 21px !important;
  width: 12px;
}

/* ////////////////coddepen practiceslider css end///// */

.hero {
  height: 1200px;
  position: relative;
  overflow: hidden;
}

.slide-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide-bg.active {
  opacity: 1;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 10;
  color: white;
  text-align: left;
  padding-top: 140px;
  /* max-width: 800px; */
}

.hero-content h1 {
  font-size: 84px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-top: 6px;
}
.hero-content p {
  font-size: 24px;
  padding-top: 16px;
  font-weight: 400;
}

/* Navigation Buttons */
button.nav-btn.prev {
  position: absolute;
  right: 28px;
  background: none;
  border: none;
}
button.nav-btn img:hover {
  filter: none !important;
}
button.nav-btn.prev img {
  width: 14px;
  margin-right: 46px;
  transform: rotate(180deg);
  filter: brightness(0) invert(1);
  margin-top: 134px;
  height: 7px;
}
button.nav-btn.next {
  position: absolute;
  right: 26px;
  background: none;
  border: none;
  top: 745px;
}
button.nav-btn.next img {
  width: 14px;
  margin-top: -134px;
  margin-right: 48px;
  /* filter: brightness(0) invert(1); */
  height: 7px;
}
/* color: #FF7757; */

.dots {
  margin-top: 10px;
  position: relative;
  transform: rotate(270deg);
  margin-left: 60%;
  padding-bottom: 23px;
  right: -222px;
  top: -143px;
}
.dot {
  display: inline-block;
  height: 17px;
  width: 17px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dot.active {
  background-color: #ff7757;
}

.booking-form .custom-date {
  border-bottom: 2px solid black;
  padding: 8px 0;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.booking-form .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
  opacity: 1;
}
.booking-form .form-control {
  border-radius: 0px !important;
  transition: none !important;
  box-shadow: none !important;
}
.booking-form .form-group.flex {
  position: relative !important;
}
.datearrow-1 {
  position: absolute;
  right: 22px;
  width: 9px;
  height: 5px;
  margin-top: 28px;
}
#galleryPrev {
  background-color: #000 !important;
  width: 60px;
  height: 66px;
  border-radius: 12px;
  margin-left: 0px;
  padding: 0px;
  margin-right: 26px;
}
#galleryPrev img {
  width: 13px;
  height: 20px;
}
#galleryNext {
  width: 60px;
  height: 66px;
  border-radius: 12px;
}
#galleryNext img {
  width: 13px;
  height: 20px;
}
.swipe-button-prev {
  background-color: #000;
  height: 60px;
  width: 60px;
  border-radius: 12px;
  position: absolute;
  right: 300px;
  top: 600px;
  padding: 16px 22px;
}
.swipe-button-prev img {
  width: 20px;
  height: 30px;
}
.news-letter .row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.trip-card .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: 550px !important;
}
